.App {
  font-family: 'Lato', sans-serif;
}

.bg{
  background-color: rgb(240, 234, 234);
}

@media only screen and (max-width: 600px) {
  .product-container{
    order: 2;
    /* align-items: center; */
  }
  .App{
    overflow-x: hidden;
  }
  .cart-container{
    order: 1;
  }

}
/* 
.choose-btn{
  display: none;
}

.choose-btn{
  display: none;
} */